<html>
<head>
    <link rel="stylesheet" href="main.css">
    <meta http-equiv="refresh" content="60">
    <title>Fuchsia Build Dashboard</title>
</head>
<body>
{% for target in targets %}
  <h1> {{target.project}} </h1>
  <ul class="target-container">
      {% for build_job in target.build_jobs %}
      <li class="{{build_job.result}}">
        <a href="{{build_job.href}}">
          <span class="target-name">{{build_job.name}}</span>
        </a>
      </li>
      {% endfor %}
  </ul>
{% endfor %}
<div class="clock">{{clock}}</div>
</body>
</html>
